flet
matplotlib#to gerenate the monthly charts
# Libs that come's with Python: datetime and sqlite3

#If you're having any trouble running the main.py file, IT'S PROBABLY BECAUSE OF THE IMPORT,
#and instead of "from TRACKER.name_of_the_py_file import name_of_the_class", just erase the "TRACKER." part 
#leaving it like :"from name_of_the_py_file import name_of_the_class", do this in every .py file that there's an import 
#from another .py file existent in the directory and you should be able to run the main.py just fine!